In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
def clean(filename):
    df = pd.read_excel(filename, skiprows=5)
    df.drop(['Unnamed: 0' , 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 5', 'Unnamed: 9'], axis = 1, inplace=True)
    df.columns = ['State', 'Year', 'Labor Force', 'Employed', 'Unemployed']
    year = df.Year[0]
    df['State']=df['State'].str[-2:]
    df = df.set_index(['State'])
    df = df[:-3] # drop last three rows that were noise
    if(df['Labor Force'].dtype != 'float64'):
        df = df[df['Labor Force'] != 'N.A.']
    df[['Labor Force','Employed','Unemployed']] = df[['Labor Force','Employed','Unemployed']].apply(pd.to_numeric)
    df = df.groupby(df.index.values).sum()
    df['Unemployment Rate (%)'] = df['Unemployed'] / df['Labor Force'] * 100
    df.Year = int(year)
    
    return df

In [16]:
df_2005 = clean('unemployment_2005.xlsx')
df_2005.to_json('Clean_Data/df_unemployment_2005.json', orient='records')

In [5]:
df_2006 = clean('unemployment_2006.xlsx')

In [6]:
df_2007 = clean('unemployment_2007.xlsx')

In [7]:
df_2008 = clean('unemployment_2008.xlsx')

In [8]:
df_2009 = clean('unemployment_2009.xlsx')

In [9]:
df_2010 = clean('unemployment_2010.xlsx')

In [10]:
df_2011 = clean('unemployment_2011.xlsx')

In [15]:
df_unemployment_by_state=pd.concat([df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011], axis=0)
df_unemployment_by_state.to_json('Clean_Data/df_unemployment_by_state.json', orient='columns')

ValueError: DataFrame index must be unique for orient='columns'.

In [12]:
df_unemployment_by_state

    Year  Labor Force    Employed  Unemployed  Unemployment Rate (%)
AK  2005     344564.0    320813.0     23751.0               6.893059
AL  2005    2146037.0   2049794.0     96243.0               4.484685
AR  2005    1345923.0   1275451.0     70472.0               5.235961
AZ  2005    2883225.0   2748371.0    134854.0               4.677193
CA  2005   17530070.0  16582652.0    947418.0               5.404531
CO  2005    2563915.0   2435092.0    128823.0               5.024465
CT  2005    1796979.0   1709384.0     87595.0               4.874570
DE  2005     432409.0    414465.0     17944.0               4.149775
FL  2005    8720978.0   8398978.0    322000.0               3.692246
GA  2005    4586427.0   4341229.0    245198.0               5.346166
HI  2005     626913.0    608957.0     17956.0               2.864193
IA  2005    1629772.0   1560172.0     69600.0               4.270536
ID  2005     731671.0    702289.0     29382.0               4.015739
IL  2005    6397822.0   6033921.0    363901.0               5.687889
IN  2005    3205441.0   3029959.0    175482.0               5.474504
KS  2005    1465652.0   1392033.0     73619.0               5.022952
KY  2005    1999783.0   1881945.0    117838.0               5.892539
LA  2005    1484641.0   1382722.0    101919.0               6.864892
MA  2005    3384121.0   3220093.0    164028.0               4.846990
MD  2005    2924546.0   2803491.0    121055.0               4.139275
ME  2005     697145.0    663126.0     34019.0               4.879760
MI  2005    5083141.0   4738909.0    344232.0               6.772033
MN  2005    2879775.0   2762737.0    117038.0               4.064137
MO  2005    3009344.0   2847008.0    162336.0               5.394398
MS  2005    1317406.0   1218830.0     98576.0               7.482583
MT  2005     486062.0    464910.0     21152.0               4.351708
NC  2005    4317438.0   4091043.0    226395.0               5.243735
ND  2005     355548.0    343512.0     12036.0               3.385197
NE  2005     973002.0    935911.0     37091.0               3.812017
NH  2005     725853.0    700028.0     25825.0               3.557883
..   ...          ...         ...         ...                    ...
MN  2011    2946286.0   2755268.0    191018.0               6.483349
MO  2011    3047794.0   2789227.0    258567.0               8.483743
MS  2011    1342814.0   1208749.0    134065.0               9.983885
MT  2011     501230.0    466406.0     34824.0               6.947709
NC  2011    4633079.0   4157543.0    475536.0              10.263930
ND  2011     388637.0    375153.0     13484.0               3.469562
NE  2011    1003266.0    959063.0     44203.0               4.405910
NH  2011     736304.0    696532.0     39772.0               5.401573
NJ  2011    4565272.0   4138466.0    426806.0               9.348972
NM  2011     930361.0    860308.0     70053.0               7.529658
NV  2011    1373117.0   1194265.0    178852.0              13.025256
NY  2011    9517370.0   8728058.0    789312.0               8.293384
OH  2011    5771477.0   5261242.0    510235.0               8.840631
OK  2011    1772673.0   1668422.0    104251.0               5.881006
OR  2011    1993892.0   1804323.0    189569.0               9.507486
PA  2011    6395505.0   5888745.0    506760.0               7.923690
PR  2011    1220246.0   1025560.0    194686.0              15.954652
RI  2011     560056.0    498248.0     61808.0              11.036039
SC  2011    2175527.0   1945899.0    229628.0              10.555052
SD  2011     440935.0    420055.0     20880.0               4.735392
TN  2011    3125315.0   2844668.0    280647.0               8.979799
TX  2011   12504512.0  11535100.0    969412.0               7.752498
UT  2011    1350447.0   1259338.0     91109.0               6.746581
VA  2011    4211815.0   3934333.0    277482.0               6.588181
VT  2011     358108.0    338464.0     19644.0               5.485496
WA  2011    3461432.0   3140192.0    321240.0               9.280552
WI  2011    3079767.0   2841002.0    238765.0               7.752697
WV  2011     807025.0    741977.0     65048.0               8.060221
WY  2011     306815.0    289019.0     17796.0               5.800238
ia  2011     350778.0    315171.0     35607.0              10.150865

[364 rows x 5 columns]