In [20]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [27]:
with open('state_2_code.p', 'rb') as fp:
    state_2_code = pickle.load(fp)

In [26]:
with open('code_2_state.p', 'rb') as fp:
    code_2_state = pickle.load(fp)

In [15]:
df_2005 = pd.read_csv('vet_2005.csv', index_col=False)
df_2005['year'] = pd.Series(2005, index=df.index)

df_2006 = pd.read_csv('vet_2006.csv', index_col=False)
df_2006['year'] = pd.Series(2006, index=df.index)

df_2007 = pd.read_csv('vet_2007.csv', index_col=False)
df_2007['year'] = pd.Series(2007, index=df.index)

df_2008 = pd.read_csv('vet_2008.csv', index_col=False)
df_2008['year'] = pd.Series(2008, index=df.index)

df_2009 = pd.read_csv('vet_2009.csv', index_col=False)
df_2009['year'] = pd.Series(2009, index=df.index)

df_2010 = pd.read_csv('vet_2010.csv', index_col=False)
df_2010['year'] = pd.Series(2010, index=df.index)

df_2011 = pd.read_csv('vet_2011.csv', index_col=False)
df_2011['year'] = pd.Series(2011, index=df.index)

In [16]:
frames = [df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011]
df_vets = pd.concat(frames)

In [18]:
print(len(df_vets))

350

In [19]:
df_vets.head()

,Unnamed: 0,state,vet_pop,overall_pop_18,vet_pop_p,vet_suicides,all_suicides,vet_suicides_p,vet_males,vet_males_p,...,vet_35-54,vet_45_54,vet_50_59,vet_45_64,vet_55_64,vet_60,vet_65,vet_rate,civ_rate,year
0,0,Alabama,403950,3344721,0.120772,135,535,0.252336,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.419978,13.601875,2005
1,1,Alaska,74482,446969,0.166638,24,131,0.183206,22.0,0.916667,...,NaN,9.0,NaN,NaN,5.0,NaN,4.0,32.222550,28.725835,2005
2,2,Arizona,538880,4238996,0.127124,225,945,0.238095,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.753266,19.458849,2005
3,3,Arkansas,259304,2023819,0.128126,81,400,0.202500,79.0,0.975309,...,NaN,NaN,NaN,NaN,16.0,NaN,25.0,31.237466,18.078622,2005
4,4,California,2193336,25543447,0.085867,633,3206,0.197442,613.0,0.968404,...,NaN,NaN,NaN,220.0,NaN,NaN,317.0,28.860147,11.019220,2005