In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def clean(filename):
    df = pd.read_excel(filename, skiprows=5)
    df.drop(['Unnamed: 0' , 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 5', 'Unnamed: 9'], axis = 1, inplace=True)
    df.columns = ['state', 'year', 'labor force', 'employed', 'unemployed']
    year = df.year[0]
    df['state']=df['state'].str[-2:]
    #df = df.set_index(['State'])
    df = df[:-3] # drop last three rows that were noise
    if(df['labor force'].dtype != 'float64'):
        df = df[df['labor force'] != 'N.A.']
    df[['labor force','employed','unemployed']] = df[['labor force','employed','unemployed']].apply(pd.to_numeric)
    df = df.groupby(df.state.values).sum()
    df['unemployment rate'] = df['unemployed'] / df['labor force'] * 100
    df.year = int(year)
    df.reset_index(level=0, inplace=True)
    df['state'] = df['index']
    df = df.drop(['index'], axis = 1)
   
    
    return df

In [3]:
df_2005 = clean('unemployment_2005.xlsx')
#df_2005.to_json('Clean_Data/df_unemployment_2005.json', orient='columns')
df_2005

    year  labor force  employed  unemployed  unemployment rate state
0   2005       344564    320813       23751           6.893059    AK
1   2005      2146037   2049794       96243           4.484685    AL
2   2005      1345923   1275451       70472           5.235961    AR
3   2005      2883225   2748371      134854           4.677193    AZ
4   2005     17530070  16582652      947418           5.404531    CA
5   2005      2563915   2435092      128823           5.024465    CO
6   2005      1796979   1709384       87595           4.874570    CT
7   2005       432409    414465       17944           4.149775    DE
8   2005      8720978   8398978      322000           3.692246    FL
9   2005      4586427   4341229      245198           5.346166    GA
10  2005       626913    608957       17956           2.864193    HI
11  2005      1629772   1560172       69600           4.270536    IA
12  2005       731671    702289       29382           4.015739    ID
13  2005      6397822   6033921      363901           5.687889    IL
14  2005      3205441   3029959      175482           5.474504    IN
15  2005      1465652   1392033       73619           5.022952    KS
16  2005      1999783   1881945      117838           5.892539    KY
17  2005      1484641   1382722      101919           6.864892    LA
18  2005      3384121   3220093      164028           4.846990    MA
19  2005      2924546   2803491      121055           4.139275    MD
20  2005       697145    663126       34019           4.879760    ME
21  2005      5083141   4738909      344232           6.772033    MI
22  2005      2879775   2762737      117038           4.064137    MN
23  2005      3009344   2847008      162336           5.394398    MO
24  2005      1317406   1218830       98576           7.482583    MS
25  2005       486062    464910       21152           4.351708    MT
26  2005      4317438   4091043      226395           5.243735    NC
27  2005       355548    343512       12036           3.385197    ND
28  2005       973002    935911       37091           3.812017    NE
29  2005       725853    700028       25825           3.557883    NH
30  2005      4391580   4194898      196682           4.478616    NJ
31  2005       918159    871249       46910           5.109137    NM
32  2005      1223833   1173709       50124           4.095657    NV
33  2005      9460871   8986862      474009           5.010205    NY
34  2005      5890059   5541090      348969           5.924711    OH
35  2005      1703297   1627112       76185           4.472796    OK
36  2005      1845765   1731846      113919           6.171912    OR
37  2005      6251410   5940575      310835           4.972238    PA
38  2005      1378065   1221818      156247          11.338144    PR
39  2005       565736    537196       28540           5.044756    RI
40  2005      2068599   1929233      139366           6.737217    SC
41  2005       430612    414211       16401           3.808765    SD
42  2005      2904806   2743389      161417           5.556894    TN
43  2005     11124254  10523260      600994           5.402556    TX
44  2005      1272452   1220619       51833           4.073474    UT
45  2005      3897060   3757606      139454           3.578441    VA
46  2005       350761    338555       12206           3.479862    VT
47  2005      3263703   3082398      181305           5.555193    WA
48  2005      3021091   2878088      143003           4.733489    WI
49  2005       790990    750565       40425           5.110684    WV
50  2005       276529    266631        9898           3.579371    WY
51  2005       315616    295484       20132           6.378637    ia

In [4]:
df_2006 = clean('unemployment_2006.xlsx')

In [5]:
df_2007 = clean('unemployment_2007.xlsx')

In [6]:
df_2008 = clean('unemployment_2008.xlsx')

In [7]:
df_2009 = clean('unemployment_2009.xlsx')

In [8]:
df_2010 = clean('unemployment_2010.xlsx')

In [9]:
df_2011 = clean('unemployment_2011.xlsx')

In [10]:
df_unemployment_by_state=pd.concat([df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011], axis=0, ignore_index = True)
df_unemployment_by_state.to_json('Clean_Data/df_unemployment_by_state.json', orient='columns')

In [11]:
df_unemployment_by_state

     year  labor force    employed  unemployed  unemployment rate state
0    2005     344564.0    320813.0     23751.0           6.893059    AK
1    2005    2146037.0   2049794.0     96243.0           4.484685    AL
2    2005    1345923.0   1275451.0     70472.0           5.235961    AR
3    2005    2883225.0   2748371.0    134854.0           4.677193    AZ
4    2005   17530070.0  16582652.0    947418.0           5.404531    CA
5    2005    2563915.0   2435092.0    128823.0           5.024465    CO
6    2005    1796979.0   1709384.0     87595.0           4.874570    CT
7    2005     432409.0    414465.0     17944.0           4.149775    DE
8    2005    8720978.0   8398978.0    322000.0           3.692246    FL
9    2005    4586427.0   4341229.0    245198.0           5.346166    GA
10   2005     626913.0    608957.0     17956.0           2.864193    HI
11   2005    1629772.0   1560172.0     69600.0           4.270536    IA
12   2005     731671.0    702289.0     29382.0           4.015739    ID
13   2005    6397822.0   6033921.0    363901.0           5.687889    IL
14   2005    3205441.0   3029959.0    175482.0           5.474504    IN
15   2005    1465652.0   1392033.0     73619.0           5.022952    KS
16   2005    1999783.0   1881945.0    117838.0           5.892539    KY
17   2005    1484641.0   1382722.0    101919.0           6.864892    LA
18   2005    3384121.0   3220093.0    164028.0           4.846990    MA
19   2005    2924546.0   2803491.0    121055.0           4.139275    MD
20   2005     697145.0    663126.0     34019.0           4.879760    ME
21   2005    5083141.0   4738909.0    344232.0           6.772033    MI
22   2005    2879775.0   2762737.0    117038.0           4.064137    MN
23   2005    3009344.0   2847008.0    162336.0           5.394398    MO
24   2005    1317406.0   1218830.0     98576.0           7.482583    MS
25   2005     486062.0    464910.0     21152.0           4.351708    MT
26   2005    4317438.0   4091043.0    226395.0           5.243735    NC
27   2005     355548.0    343512.0     12036.0           3.385197    ND
28   2005     973002.0    935911.0     37091.0           3.812017    NE
29   2005     725853.0    700028.0     25825.0           3.557883    NH
..    ...          ...         ...         ...                ...   ...
334  2011    2946286.0   2755268.0    191018.0           6.483349    MN
335  2011    3047794.0   2789227.0    258567.0           8.483743    MO
336  2011    1342814.0   1208749.0    134065.0           9.983885    MS
337  2011     501230.0    466406.0     34824.0           6.947709    MT
338  2011    4633079.0   4157543.0    475536.0          10.263930    NC
339  2011     388637.0    375153.0     13484.0           3.469562    ND
340  2011    1003266.0    959063.0     44203.0           4.405910    NE
341  2011     736304.0    696532.0     39772.0           5.401573    NH
342  2011    4565272.0   4138466.0    426806.0           9.348972    NJ
343  2011     930361.0    860308.0     70053.0           7.529658    NM
344  2011    1373117.0   1194265.0    178852.0          13.025256    NV
345  2011    9517370.0   8728058.0    789312.0           8.293384    NY
346  2011    5771477.0   5261242.0    510235.0           8.840631    OH
347  2011    1772673.0   1668422.0    104251.0           5.881006    OK
348  2011    1993892.0   1804323.0    189569.0           9.507486    OR
349  2011    6395505.0   5888745.0    506760.0           7.923690    PA
350  2011    1220246.0   1025560.0    194686.0          15.954652    PR
351  2011     560056.0    498248.0     61808.0          11.036039    RI
352  2011    2175527.0   1945899.0    229628.0          10.555052    SC
353  2011     440935.0    420055.0     20880.0           4.735392    SD
354  2011    3125315.0   2844668.0    280647.0           8.979799    TN
355  2011   12504512.0  11535100.0    969412.0           7.752498    TX
356  2011    1350447.0   1259338.0     91109.0           6.746581    UT
357  2011    4211815.0   3934333.0    277482.0           6.588181    VA
358  2011     358108.0    338464.0     19644.0           5.485496    VT
359  2011    3461432.0   3140192.0    321240.0           9.280552    WA
360  2011    3079767.0   2841002.0    238765.0           7.752697    WI
361  2011     807025.0    741977.0     65048.0           8.060221    WV
362  2011     306815.0    289019.0     17796.0           5.800238    WY
363  2011     350778.0    315171.0     35607.0          10.150865    ia

[364 rows x 6 columns]